<section class="row container-fluid">
  <div class="col-md-2" style="padding: 10px 0px 10px 20px;">
    <h2>Users</h2>
  </div>
  <div class="col-md-10" style="padding: 10px;">
    <button class="float-right" mat-raised-button color="primary" (click)="goto('/add')">+Add new user</button>
  </div>
</section>

<mat-spinner class="center" *ngIf="!hasLoaded"></mat-spinner>

<div *ngIf="(list > 0) && hasLoaded" class="user-table-container">

  <table mat-table matSort [dataSource]="dataSource" class="user-table">
    
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
          <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PAssword </th>
                <td mat-cell *matCellDef="let element"> {{element.password}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" class="btn btn-md btn-success">Edit</button>
                  <button type="button" class="btn btn-md btn-danger">Delete</button>
                </td>
              </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" [showFirstLastButtons]="true" class="user-paginator"></mat-paginator>
</div>

<div class="col-lg-12 col-xs-12" class="user-empty-alert" *ngIf="(list === 0) && hasLoaded">
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>No Users found!</h3>
      <p>You might want to add one.</p>
    </div>
    <div class="icon">
      <i class="fa fa-user"></i>
    </div>
  </div>
</div>
